* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 700px;
    display: grid;
    justify-content: center;
    /* background-color: whitesmoke; */
    /* background-image: url("photo.avif");
    background-size: cover; */
    flex-wrap: wrap;
    text-align: center;
}

body {
    background-image: url("photo.avif");
    background-size: cover;
}

.box {
    margin-top: 30px;
    padding: 20px;
    width: 350px;
    height: 400px;
    text-align: center;
    border: 1px solid rgb(216, 211, 211);
    border-radius: 10px;
    background-color: white;
}

.box.a {
    margin-top: 10px;
    height: 80px;
}

#hedding {
    font-size: 40px;
    font-weight: 400;
    font-family: Arial Solid Italic;
    margin-bottom: 10px;
}

#int {
    width: 250px;
    height: 30px;
    margin: 20px 30px 10px 30px;
    background-color: whitesmoke;
    padding: 10px;
    border: 1px solid rgb(216, 211, 211);
    border-radius: 5px;
}

#int2 {
    width: 250px;
    height: 30px;
    margin: 20px 30px 10px 30px;
    background-color: whitesmoke;
    padding: 10px;
    border: 1px solid rgb(216, 211, 211);
    border-radius: 5px;
}

button {
    width: 250px;
    height: 30px;
    margin: 20px 30px 10px 30px;
    background-color: rgb(85, 85, 223);
    padding-bottom: 0px;
    border: 1px solid rgb(216, 211, 211);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#pho {
    border-radius: 10px;
    cursor: pointer;
}

#login {
    color: blue;
    font-size: 21px;
    padding: 20px 10px;
    cursor: pointer;
}

#account {
    font-size: 18px;
    color: rgb(83, 77, 77);
}

span {
    color: blue;
    cursor: pointer;
}

#app {
    padding: 5px;
    font-size: 20px;
}

#google {
    height: 60px;
    width: 200px;
    background-color: 5px solid white;
    background-image: url("google.png");
    background-size: cover;
    padding-bottom: 50px;
}

#micro {
    height: 60px;
    width: 200px;
    background-color: 5px solid white;
    background-image: url("microsoft.png");
    background-size: cover;
    padding-bottom: 50px;
    border-radius: 10px;
}

#image {
    display: flex;
    margin: 10px;
    cursor: pointer;
}

#done {
    text-align: center;
    color: antiquewhite;
}

#anyupdate {
    margin-top: 20px;
}